{% extends "catalog/base.html" %}
{% block content %}
<div class="text-start">
  <div class="mb-3">
    <p><strong>Имя и фамилия автора:</strong> {{author.first_name}} {{author.last_name}}</p>
  </div>

  <div class="mb-3 d-flex align-items-center gap-3">
    <img src="{{author.photo.url}}" alt="Фотография автора" style="max-height: 200px; border-radius: 10px; box-shadow: 0 2px 8px rgb(0 0 0 / 0.15);" />
    <a href="{{author.photo.url}}" class="btn btn-primary" target="_blank" style="height: 38px; align-self: flex-start;">Показать</a>
  </div>

  <div class="mb-3">
    <p><strong>Дата рождения:</strong> {{author.date_of_birth}}</p>
  </div>

  <div class="author-about mb-3">
    <p><strong>Сведения об авторе:</strong> {{author.about}}</p>
  </div>
</div>
{% endblock %}
