{% extends "catalog/base.html" %}
{% block header %}
    <h5>{{ text_head }}</h5>
{% endblock header %}

{% block content %}
<div class="container-fluid my-3">
  <div class="row bg-success text-white rounded mx-2 p-3">
    <div class="col text-center fs-5 fw-semibold">
      Добро пожаловать в магазин <em>Книжный</em>. Это очень крутой магазин.
    </div>
  </div>
</div>

<div class="row my-3 text-white">
  <div class="col mx-2 bg-secondary rounded p-3 text-center">
    Количество книг: <strong>{{ num_books }}</strong>
  </div>
  <div class="col mx-2 bg-secondary rounded p-3 text-center">
    На складе в наличии: <strong>{{ num_instance_available }}</strong>
  </div>
  <div class="col mx-2 bg-secondary rounded p-3 text-center">
    Количество авторов: <strong>{{ num_author }}</strong>
  </div>
</div>

<div class="row text-center text-dark lh-2 mb-4">
  <h3>Книги</h3>
</div>

{% if num_books > 0 %}
  <div class="row">
    {% for obj in books %}
      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="{{ obj.photo.url }}" alt="Лого книги" class="card-img-top" style="height: 400px; object-fit: cover; border-radius: 12px 12px 0 0;">
          <div class="card-body">
            <p class="card-text small mb-0">
              {{ obj.title }}, Цена: {{ obj.price }} руб.
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock content %}
